.chatContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* ------------------ Стилизация блока создания чата*/
.chatCreate {
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #333333;
    border-radius: 0.6em;
    padding: 0.6em;

}

.chatCreateTitle {
    margin: 0.6em auto;
    padding: 0.2em;
    font-size: 1.5em;
    color: whitesmoke;
    border-bottom: 1px solid rgba(245, 245, 245, 0.3);
}

.chatCreateInp {
    width: 90%;
    margin: 1.2em auto;
    color: white;
}

.chatCreateInp input {
    width: 100%;
    padding: 0.6em;
    margin-top: 0.3em;
    color: whitesmoke;
    background-color: black;
    border-radius: 10px;
}

.chatCreateBtn {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.chatBlock {
    width: 100%;
    height: 92vh;
    display: flex;
    flex-direction: column;
}

/*  ------------------ стилизация Header в чате */
.chatHeader {
    flex-basis: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    color: whitesmoke;
    background-color: #333333;
    padding: 0.6em;
}

.chatHeaderName {
    align-self: center;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    color: #fff;
    font-size: 1.5em;
    margin-left: 1em;
}

.chatHeaderInfo {
    margin-right: 2em;
    font-family: "Roboto", sans-serif;
    font-size: 0.8em;
    cursor: pointer;
}

/* ------------------ Стилизация основного блока чата*/
.MainBlockChat {
    /*flex-basis: 89%;*/
    height: 100vh;
    display: flex;
    flex-direction: row;
    overflow: auto;

}

.content {
    width: 100%;
    display: flex;
    justify-content: center;
}

.chat {
    width: 100%;
    display: flex;
    flex-direction: column;
}

/*------------------ Стилизация выдвигающегося меню юзеров в чате*/
.usersChat {
    width: 30%;
    display: flex;
    flex-direction: column;
    background-color: #333333;
    border: 1px solid black;
    padding: 0.5em;
}

.user {
    display: flex;
    flex-direction: row;
    padding: 0.5em;
    margin: 0.5em 0;
    color: whitesmoke;
    background-color: #171717;
    border-radius: 0.5em;
    box-shadow: 0 1px 2px rgba(0,255,255,0.5),
    0 2px 4px rgba(0,255,255,0.5),
    0 4px 8px rgba(0,255,255,0.5),
    0 8px 16px rgba(0,255,255,0.5);
}

.user:hover {
    box-shadow: 0 2px 4px rgba(0,255,255,0.7),
    0 4px 8px rgba(0,255,255,0.7),
    0 8px 16px rgba(0,255,255,0.7),
    0 12px 24px rgba(0,255,255,0.7);
    transform: translateY(-5px);
    transition: 0.2s;
}

.user img {
    width: 2.5em;
    height: 2.5em;
    margin-right: 0.5em;
}

.userCredential {
    align-self: center;
    font-size: 0.8em;
}

/* ------------------ Стилизация подписки на чат*/
.chekSubscription {
    align-self: center;
    /*width: 40%;*/
    margin: 2em auto;
    padding: 10px;
    color: whitesmoke;
    background-color: #333333;
    border-radius: 0.5em;
    display: flex;
    flex-direction: column;
}

/* ------------------ Стилизация сообщений*/
.message {
    width: 80%;
    padding: 0.7em;
    margin-top: 1em;
    margin-left: 2em;
    border-radius: 1.6em 1.25em 1.25em 0.07em;
    color: whitesmoke;
    background-color: #3c79f8;
    align-self: start;
    display: flex;
    flex-direction: column;
}

.message.myMessage{
    margin-right: 2em;
    border-radius: 1.25em 1.6em 0.07em 1.25em;
    background-color: #301a9a;
    align-self: end;
}

.messageOwner {
    font-size: 1em;
}

.messageText {
    margin: 0.5em 0.6em;
}

.messageDate {
    font-size: 0.6em;
    align-self: end;
}

/*  ------------------ стилизация Footer в чате */
.chatFooter {
    flex-basis: 6%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding: 0.3em;
    background-color: #333333;
}

.chatFooter textarea {
    width: 90%;
    padding: 0.6em;
    color: whitesmoke;
    background-color: black;
    border-radius: 0.7em;
    resize: none;
}